* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

html {
  scroll-behavior: smooth;

  @media (max-width: 1024px) {
    font-size: 93.75%;
  }

  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
select,
button {
  line-height: 1.2;
  font: 400 1rem Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  line-height: 1.4;
  font: 700 1rem Inter, sans-serif;
}

button {
  cursor: pointer;

  &:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

main {
  max-width: 1440px;
  margin-inline: auto;

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-inline: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    height: 5rem;
    gap: 2rem;

    strong {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      align-items: center;

      li {
        text-transform: uppercase;

        &.current_page_item {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  .info {
    span {
      &:first-child {
        font-size: 1.5rem;
        font-weight: 500;
      }

      &:last-child {
        font-size: 1.3rem;
      }
    }

    h1 {
      font-size: 5rem;
    }

    .links {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 3rem;
        border: 2px solid #000;
        border-radius: 0 0.5rem 0.5rem 1rem;
        transition: all 0.3s;

        &:hover {
          color: white;
          background: #000;
        }
      }
    }
  }

  .image {
    flex-grow: 1;
    max-width: 720px;

    img {
      max-width: 720px;
      max-height: 480px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 5rem 5rem 10rem;
    }
  }
}

#main-projects {
  margin-block: 5rem;

  .wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;

    .project {
      max-width: 425px;
      width: 100%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(211, 211, 211, 0.5);
        z-index: 2;
        border-radius: 0 2rem 2rem 5rem;
        opacity: 0;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: 0.5rem 1rem;
          border: 2px solid #000;
          border-radius: 1rem;
          font-weight: 700;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          color: white;
          padding: 1rem 3rem;
          text-transform: uppercase;
        }
      }

      &:hover > .overlay {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 0 2rem 0 0;
      }

      .info {
        padding: 2rem;
        padding-bottom: 4rem;
        border: 2px solid #000;
        border-top: 0;
        border-radius: 0 0 2rem 5rem;
        height: 150px;

        h3 {
          font-size: 1.2rem;
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 3rem;
    background: #000;
    border-radius: 0 0.5rem 0.5rem 1rem;
    transition: all 0.3s;
    color: white;
    margin-inline: auto;
    transition: all 0.3s;
    margin-top: 2rem;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

#all-projects {
  margin-block: 5rem;

  .filters {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 3rem;
      color: white;
      background: #cccccc;

      &.active {
        background: #000;
      }
    }
  }

  .not-found {
    display: block;
    margin-inline: auto;
    text-align: center;
    grid-column: 1/4;
  }

  .pagination {
    margin-top: 2rem;
    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      li {
        a {
          display: block;
        }

        span.current {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }

  .wrapper {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;

    .project {
      max-width: 425px;
      width: 100%;
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(211, 211, 211, 0.5);
        z-index: 2;
        border-radius: 0 2rem 2rem 5rem;
        opacity: 0;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: 0.5rem 1rem;
          border: 2px solid #000;
          border-radius: 1rem;
          font-weight: 700;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          color: white;
          padding: 1rem 3rem;
          text-transform: uppercase;
        }
      }

      &:hover > .overlay {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 0 2rem 0 0;
      }

      .info {
        padding: 2rem;
        padding-bottom: 4rem;
        border: 2px solid #000;
        border-top: 0;
        border-radius: 0 0 2rem 5rem;
        height: 150px;

        h3 {
          font-size: 1.2rem;
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 3rem;
    background: #000;
    border-radius: 0 0.5rem 0.5rem 1rem;
    transition: all 0.3s;
    color: white;
    margin-inline: auto;
    transition: all 0.3s;
    margin-top: 2rem;
  }
}

#project-page {
  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
  }

  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
  }
}

#sobre {
  margin-top: 5rem;

  p {
    margin-top: 1rem;
  }
}

#contato {
  margin-top: 5rem;

  form {
    margin-top: 2rem;

    input,
    textarea {
      display: block;
      width: 300px;
      padding-left: 0.5rem;
    }

    input {
      height: 2rem;
    }

    textarea {
      padding-top: 0.5rem;
      height: 6rem;
      resize: none;
    }

    p {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-top: 1.5rem;
    }

    input[type='submit'] {
      width: 80px;
      height: 2rem;
      color: white;
      background: #000;
      border: none;
      border-radius: 0.25rem;
    }
  }
}
